@page "/fetchdata/simulation"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@using InfluxReaderBlazor.Shared
@using Microsoft.AspNetCore.SignalR.Client
@implements IDisposable

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <label class="mr-3" for="looptime">Frequency(ms):</label>
                    <input id="looptime" type="number" class="form-control form-control-sm mr-3" @bind="LoopTime" />
                    <label for="zoom" class="mr-3">Zoom: </label>
                    <input id="zoom" min="5" value="5" type="number" class="form-control form-control-sm" @onchange="@(e => ChangeZoomlevel(e))" />
                </div>
                <button class="btn btn-primary btn-sm" @onclick="@BackToData">Back to data</button>
            </div>
        </div>
        <div class="card-body" style="min-height: 600px;">
            <canvas id="replay-chart" style="width: 100%;  height: 600px !important"></canvas>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-warning" @onclick="@ResetSimulation">Reset Simulation</button>
                <div>
                    <button type="button" disabled="@(!IsConnected)" class="btn btn-success mr-3" @onclick="@RunSimulation">Start simulation</button>
                    <button type="button" disabled="@(!IsConnected)" class="btn btn-primary mr-3" @onclick="@LoopSimulation">loop simulation</button>
                    <button type="button" class="btn btn-danger mr-3" @onclick="@StopSimulation">Stop simulation</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private HubConnection hubConnection;

    private string baseUrl => "https://localhost:44387/api/RabbitSender";

    private int LoopTime = 500;

    private List<ValueModel> ReplayChartArray = new List<ValueModel>();
    public int bufferCounter = 0;

    protected override async Task OnInitializedAsync()
    {
        //connects to the signalr hub
        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/replayhub"))
        .Build();

        hubConnection.On<int>("CounterForjs", async (counter) =>
        {
            //checks if the counter resets to 0. if so, it clears the chart
            if (counter < bufferCounter)
            {
                await JSRuntime.InvokeAsync<bool>("clearSimulationChart");
            }
            bufferCounter = counter;
            //calls the js functions to handle the chart
            await JSRuntime.InvokeVoidAsync("addDataToSimulation", counter);
        });

        await hubConnection.StartAsync();
    }

    //simple method to go back to the fetch data page
    void BackToData()
    {
        NavigationManager.NavigateTo("/fetchdata");
    }

    //changes the number of data displayed on the chart during reproduction
    async Task ChangeZoomlevel(ChangeEventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("setZoomLevel", Convert.ToInt32(e.Value));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //fetched the array of data for the simulation, stored in the js interop file
            ReplayChartArray = await JSRuntime.InvokeAsync<List<ValueModel>>("initReplayChart");
            CheckValidData(ReplayChartArray);
        }
    }

    private async Task RunSimulation()
    {
        //startes the simulation after the chart is cleared successfully
        if (await JSRuntime.InvokeAsync<bool>("clearSimulationChart"))
        {
            await hubConnection.SendAsync("InitializeSimulation", ReplayChartArray, LoopTime, false);
        }
    }

    private async Task LoopSimulation()
    {
        //same thing as above
        if (await JSRuntime.InvokeAsync<bool>("clearSimulationChart"))
        {
            await hubConnection.SendAsync("InitializeSimulation", ReplayChartArray, LoopTime, true);
        }
    }

    private async Task StopSimulation()
    {
        //simply stops the connection to stop the data for being sent
        await hubConnection.StopAsync();
    }

    private async Task ResetSimulation()
    {
        //stops the data stream, then reinitializes the connection
        await hubConnection.StopAsync().ContinueWith(x => hubConnection.StartAsync());
        await JSRuntime.InvokeVoidAsync("resetAfterSimulation");
    }

    //checks the state of the connection
    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    //if there is not any form of data in the array from JS, goes back (for example, happens in case of refresh)
    public void CheckValidData(List<ValueModel> valueModels)
    {
        if (valueModels.Count == 0)
        {
            NavigationManager.NavigateTo("/fetchdata");
        }
    }

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }
}
